.messenger-preview-content-bar-container {
  @include flex(row, flex-start, center);
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    background-color: #f2f2f2;
  }

  > img {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    object-fit: contain;
    border-radius: 50%;
    border: #e8e8e8 solid 1px;
  }

  > section {
    @include flex(column, space-evenly, flex-start);
    height: 80%;

    > h4 {
      font-size: 1rem;
    }

    > div > span {
      font-size: 0.8rem;
      color: #97989a;
    }
  }
}